@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,900;1,700&family=Roboto:ital,wght@0,300;1,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.home {
  font-weight: bold;
  background: black;
  height: 100vh;
  overflow: hidden;
  color: white;
}
header {
  font-weight: 700;
  margin-bottom: 10rem;
}

.container {
  text-align: center;
  margin: 30px;
}
.head {
  line-height: 50px;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.motto {
  font-size: 12.5px;
  text-transform: capitalize;
  font-style: italic;
}
img {
  width: 10%;
  height: 10%;
  border-radius: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
.contact__us {
  line-height: 3rem;
}
.contact {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.gmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12.5px;
  text-transform: capitalize;
  font-style: italic;

  line-height: 30px;
}
